#container {
    display: flex;
    height: 80%;
}

#userInformation {
    width: 20%;
    border: 2px solid;
    padding-top: 1%;
}

#followers {
    width: 80%;
}

#userImg {
    width: 50%;
    display: block;
    margin: auto;
}